.buy_box{
  align-items: center;
  width: 100vw;
  height: auto;
}

.borrowpage_label {
  display: flex;
  justify-content: center;
  height: 100px;
  align-items: center;
  text-align: center;
  font-size: 60px;
  letter-spacing: 2px;
}

.borrowpage_label:after {
  content: 'Borrow';
  display: block;
  width: 50%;
  border-bottom: 3px solid #3881D4;
}

.borrow_card-container-wrapper {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  height: auto;
  width: auto;
}
