.card-container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: relative;
  height: auto;
  right: 50%;
  bottom: 50%;
  margin-left: 50px;
  margin-right: 50px;
}
