* {
  color: #AAB8C5;
}

.card-container{
  margin-top:10px;
  min-width:900px;
  padding: 60px 60px;
}

.card-wrapper{
  margin:10px;
  padding: 0;
}
.card {
  width: auto;
  height: auto;
  background-color: #37404A;
  border: 1px solid #AAB8C5;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px;
  padding-top: 0;
}

.card-link{
  display:flex;
  justify-content: space-around;
  background-color: #37404A;
}

.rank-and-more {
  font-size: 14px;
  margin-right: 20px;
  background-color: #37404A;
  padding-bottom: 5px;
}

.card_offer-new {
  background-color: #37404A;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  animation-name: new-offer;
  animation-duration:  1s;
  animation-iteration-count: 20;
  /* background: linear-gradient(
    to right,
    green,
    #333A3F,
    #279BDC,
    #3881D4,
    #4D5764,
    #333A3F); */
    /* transition: color 300ms linear; */
    /* color: transparent; */
    background-clip: text;
  }
@keyframes new-offer {
  0%   {color: coral}
  40%  {color: #279BDC}
  60%  {color: #4D5764}
  80%  {color: #279BDC}
  90%  {color: #3881D4}
  100% {color: coral}
}

.card img {
  border-radius: 4px;;
  height: 150px;
  width: 150px;
  object-fit: contain;
  border: none;
  outline: none;
  background-color: #37404A;
}

.card-header{
  height: auto;
  background-color: #37404A;
}

.main-card-1 {
  background-color: #37404A;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid #AAB8C5;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.card-game-description {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  background-color: #37404A;
  padding-bottom: 5px;
}

#card-game-description {
  font-size: 12px;
  margin-top: 0;
  background-color: #37404A;
}

#main-card-designer,
#main-card-publisher {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-right: 20px;
  background-color: #37404A;
}
.main-card-game-name {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
}

.main-card-game-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-left: 8px;
  background-color: #37404A;
}

#main-card-info-box {
  background-color: #37404A;
  font-size: 14px;
  margin-top: 5px;
}


/*PROFILE SPECIFIC*/

.top_card-name {
  color: white;
  display: flex;
  padding-right: 10px;
  flex-direction: column;
  background-color: #37404A;
}

.game_dice{
position: relative;
background-color: #37404A;
margin-right: 20px;
border-radius: 24px;
}
