.gamepage_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  margin-top: 30px;
  padding: 20px;
  gap: 10px;
  /* CHANGE HEIGHT TO AUTO */
  height: auto;
  width: 100vw;
}

.gamepage_info_header {
  /* display: flex;
  flex-direction: column wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  border-radius: 4px;
  width: 1000px;
  height: auto;
  padding: 20px;
  background-color: #4D5764;
}

#gamepage_image-div {
  display: flex;
  flex-direction: column wrap;
}

.gamepage_game_information {
  width: 1000px;
  height: auto;
  border-radius: 4px;
  padding: 20px;
  background-color: #4D5764;
}

#gamepage_image-div,
#gamepage_image {
  border-radius: 4px;
  object-fit: contain;
  height: 200px;
  width: 300px;
  background-color: #4D5764;
}

.gamepage_info_header-details {
  height: auto;
  width: auto;
  background-color: #4D5764;
}

#gamepage_game-title {
  position: relative;
  height: 30px;
  width: 500px;
  max-width: 280px;
  font-size: 20px;
  font-weight: bold;
  background-color: #4D5764;
}

#game_year_published {
  font-size: 18px;
  background-color: #4D5764;
  margin-bottom: 10px;
}

#gamepage_game-rating {
  /* position: absolute; */
  width: 50px;
  height: 45px;
  text-align: center;
  padding-top: 6px;
  border-radius: 8px;
  background-color: green;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

#gamepage_header-details {
  margin-bottom: 10px;
  background-color: #4D5764;
}

.gamepage_header-specs {
  margin-left: 100px;
  background-color: #4D5764;
}

#gamepage_specs,
#more-designers,
#show-more-designers {
  background-color: #4D5764;
  margin-bottom: 10px;
}

#more-designers {
  margin-top: 5px;
}

#show-more-designers:hover {
  color: #3881D4;
}

#description-label {
  font-size: 26px;
  margin-bottom: 5px;
  background-color: #4D5764;

}

.gamepage_long-description {
  font-size: 16px;
  background-color: #4D5764;
}

.gamepage_image-label {
  width: 1000px;
}

#gamepage_label {
  font-size: 20px;
  background-color: inherit;
  font-weight: bold;
}

.gamepage_game_images_container {
  display: flex;
  flex-direction: column wrap;
  gap: 5px;
  width: 1000px;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 5px;
}

.game_image > img {
  border-radius: 8px;
  height: 112px;
  width: 150px;
  object-fit: cover;
}

.gamepage_user_reviews_container {
  display: flex;
  flex-direction: column wrap;
  gap: 10px;
  width: 1000px;
  height: 250px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 5px;
}

.gamepage_user_reviews_container::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

.game_review_container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 8px;
  background-color: #4D5764;
}

#review_rating {
  width: 20px;
  height: 25px;
  text-align: center;
  padding-top: 2px;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #3881D4;
}

#review_title {
  padding-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #4D5764;
}

#review_username {
  font-size: 12px;
  margin-bottom: 10px;
  background-color: #4D5764;
}

#review_description {
  height: 250px;
  width: 250px;
  font-size: 14px;
  padding: 2px;
  overflow: hidden scroll;
  background-color: #4D5764;
}

#review_description::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}
