.card-container{
  margin-top:10px;
  min-width:900px;
  padding: 60px 60px;
}

.card-wrapper{
  margin:0;
  padding: 0;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
  border: 1px solid ;
  background-color: #37404A;
}

.card-link{
  display:flex;
  flex-direction: column wrao;
  justify-content: left;
  background-color: #37404A;
}


.card img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  border: none;
  outline: none;
}

.card-header{
  height: 100px;
  background-color: #37404A;
}


.card  h1 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-right: 20px;
  background-color: #37404A;

}

.card  h2 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 8px;
  margin-right: 20px;
  background-color: #37404A;
}

.card > h3 {
  background-color: #37404A;
}

.card-footer{
  display:flex;
  flex-direction: column;
  height: 20%;
  padding: 0px 20px;

}

.card h4 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  background-color: #37404A;
}
