::placeholder {
  color: #AAB8C5;
}

.navbar_container {
  display: flex;
  flex-direction: column wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-right: 40px;
  gap: 20px;
  top: 5;
  background-color: #3881D4;
  z-index: 2001;
}

.navbar_search_container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 24px;
  width: 400px;
  transition: 200ms ease-in-out;
}

.navbar_search_container:hover,
.navbar_search-bar:hover {
  flex-grow: 1;
}

.navbar_search-bar {
  font-size: 16px;
}

.homepage_auth {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 20px;
  top: 5;
  background-color: #3881D4;
}

.homepage_login-button {
  background-color: #333A3F;
}

.homepage_auth-button {
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  height: 40px;
  width: 130px;
  border-radius: 24px;
  background-color: #333A3F;
  font-weight: bold;
  letter-spacing: -.9px;
  cursor: pointer;
}

.auth_profile_button {
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  height: 40px;
  width: 130px;
  border-radius: 24px;
  font-weight: bold;
  letter-spacing: -.9px;
  cursor: pointer;
}


.auth_profile_container {
  display: flex;
  background-color: #3881D4;
  align-items: center;
  gap: 20px;
}

.close_unauth_search_modal {
  width: 100vw;
  height: 10px;
}

.fa-times {
  position: absolute;
  background-color: #4D5764;
  top: 10px;
  right: 100px;
  cursor: pointer;
}

/* Navbar Not Home Redirect */

#ellipsis-div {
  position: relative;
  margin: auto;
  height: 30px;
  width: 0vw;
  background-color: #4D5764;
  cursor: pointer;
}


.redirect_container {
  display: none;
  left: -207px;
}

#ellipsis-div:hover .redirect_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 60px;
  width: 25vw;
  margin-top: -32px;
  padding: 20px 20px;
  justify-content: space-evenly;
  background-color: #4D5764;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  transition: all 600ms ease-in-out;
  transform: scale(1)
}

.redirect_container:hover {
  display: block;
}

.fa-ellipsis-h {
  margin: auto;
  background-color: #333A3F;
  color: #3881D4;
}

.redirect_button {
  text-decoration: none;
  background-color: #4D5764;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
