* {
  margin:0;
}

.signup_master-box {
  height: 100vh;
}

.signup-redirect {
  box-sizing: border-box;
  background-color: #37404A;
  color: #AAB8C5;
  padding: 20px;
  font-size: 16px;
  height: 62px;
  border-bottom: 1px solid #AAB8C5;
}

.signup-container {
  box-sizing: border-box;
  position: inherit;
  left: 0;
  right: 0;
  bottom: 50%;
  text-align: center;
  min-height: 525px;
  max-width: 398px;
  margin: auto;
  margin-top: 20px;
  background-color: #37404A;
}

.signup-input {
  box-sizing: border-box;
  min-height: 42px;
  margin-bottom: 15px;
  width: 90%;
  background-color: #37404A;
  border-color: #DCDEDD;
  padding: 8px 16px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
}

#signup-input {
  background-color: #37404A;
}

.signup-input:focus {
  box-shadow: 0 0 0 1px #3881D4;
  outline: 0;
}

#bad-span {
  background-color: #37404A;
}

.bad-input {
  outline: none;
  border-color: red;
  box-sizing: border-box;
  min-height: 48px;
  width: 90%;
  color: #111;
  padding: 8px 16px;
  margin: 4px;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
}

.signup-button {
  box-sizing: border-box;
  min-height: 40px;
  height: 40px;
  width: 90%;
  text-align: center;
  cursor: pointer;
  background-color: #3881D4;
  color: white;
  font-size: 14px;
  border: none;
  transition: all 3s cubic-bezier(0.175, 0.885, 0.335, 1);
}

.signup-button:hover {
  background-color: #279ADC;
  font-size: 20px;
  background: linear-gradient(
    to right,
    #333A3F,
    #3881D4,
    #333A3F);
    transform: all ease-in;
    color: white;
    letter-spacing: 1px;
    background-clip: border-box;
}

.signup-button:focus {
  outline: none;
}

#blue {
  color: blue
}

.signup-label {
  margin-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-align: left;
  font-size: 28px;
  background-color: #37404A;
}
